#### pandas(100days项目)

In [2]:
import pandas as pd

ser1 = pd.Series(data=[320, 120, 345, 5634], index=['第一季度', '第二季度', '第三季度', '第四季度'])
ser1

第一季度     320
第二季度     120
第三季度     345
第四季度    5634
dtype: int64

##### 通过字典创建series

In [3]:
ser2 = pd.Series({'一季度': 320, '二季度': 180, '三季度': 300, '四季度': 405})
ser2

一季度    320
二季度    180
三季度    300
四季度    405
dtype: int64

In [4]:
print(ser2[0], ser2[1], ser2[2], ser2[3])
ser2[0], ser2[3] = 350, 360
print(ser2)

320 180 300 405
一季度    350
二季度    180
三季度    300
四季度    360
dtype: int64

/var/folders/s_/rxxqshv95_j_p0l4xrqy3qdc0000gn/T/ipykernel_2634/309265110.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(ser2[0], ser2[1], ser2[2], ser2[3])
/var/folders/s_/rxxqshv95_j_p0l4xrqy3qdc0000gn/T/ipykernel_2634/309265110.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  ser2[0], ser2[3] = 350, 360

In [5]:
print(ser2['一季度'], ser2['三季度'])
ser2['一季度'] = 380
print(ser2)

350 300
一季度    380
二季度    180
三季度    300
四季度    360
dtype: int64

In [6]:
print(ser2[1:3])
print(ser2['二季度':'四季度'])

二季度    180
三季度    300
dtype: int64
二季度    180
三季度    300
四季度    360
dtype: int64

In [7]:
print(ser2[['二季度', '四季度']])
print(ser2[[1,3]])
ser2[['二季度', '四季度']] = 500, 520
print(ser2)

二季度    180
四季度    360
dtype: int64
二季度    180
四季度    360
dtype: int64
一季度    380
二季度    500
三季度    300
四季度    520
dtype: int64

/var/folders/s_/rxxqshv95_j_p0l4xrqy3qdc0000gn/T/ipykernel_2634/1266182998.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(ser2[[1,3]])

In [8]:
print(ser2[ser2 >= 500])

二季度    500
四季度    520
dtype: int64

In [9]:
# 求和
print(ser2.sum())
# 求均值
print(ser2.mean())
# 求最大
print(ser2.max())
# 求最小
print(ser2.min())
# 计数
print(ser2.count())
# 求标准差
print(ser2.std())
# 求方差
print(ser2.var())
# 求中位数
print(ser2.median())

1700
425.0
520
300
4
103.76254944182253
10766.666666666666
440.0

In [10]:
ser2.describe()

count      4.000000
mean     425.000000
std      103.762549
min      300.000000
25%      360.000000
50%      440.000000
75%      505.000000
max      520.000000
dtype: float64

In [11]:
ser3 = pd.Series(['apple', 'banana', 'apple', 'pitaya', 'apple', 'pitaya', 'durian'])
ser3.value_counts()

apple     3
pitaya    2
banana    1
durian    1
Name: count, dtype: int64

In [12]:
ser3.nunique()

4

In [13]:
import numpy as np
ser4 = pd.Series([10, 20, np.nan, 30, np.nan])
ser4.isnull()
ser4.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [14]:
ser4.dropna()

0    10.0
1    20.0
3    30.0
dtype: float64

In [15]:
ser4.fillna(value=40)

0    10.0
1    20.0
2    40.0
3    30.0
4    40.0
dtype: float64

In [16]:

ser4.ffill()

0    10.0
1    20.0
2    20.0
3    30.0
4    30.0
dtype: float64

In [17]:
ser5 = pd.Series(range(5))
ser5.where(ser5 > 0)

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [18]:
ser5.where(ser5 > 1, 10)

0    10
1    10
2     2
3     3
4     4
dtype: int64

In [19]:
ser5.mask(ser5 > 1, 10)

0     0
1     1
2    10
3    10
4    10
dtype: int64

In [20]:
print(ser3)
ser3.duplicated()

0     apple
1    banana
2     apple
3    pitaya
4     apple
5    pitaya
6    durian
dtype: object

0    False
1    False
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [23]:
ser3.drop_duplicates()

0     apple
1    banana
3    pitaya
6    durian
dtype: object

In [24]:
ser6 = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
ser6

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

In [25]:
ser6.map({'cat': 'kitten', 'dog': 'puppy'})

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

In [26]:
ser6.map('I am a {}'.format, na_action='ignore')

0       I am a cat
1       I am a dog
2              NaN
3    I am a rabbit
dtype: object