In [120]:
import numpy as np 
import pandas as pd 

# create a dataframe with 3 columns and 5 rows      
data = np.random.randint(0, 100, (5, 3))
index = pd.date_range('2025-01-01', periods=5, freq='W')
name = ['zhangsan', 'lisi', 'wangwu', 'zhaoliu', 'chenfei']
df = pd.DataFrame(data, index=index, columns=['语文', '数学', '英语'])
df['姓名'] = name
df.index.name = '日期'
new_order = ['姓名', '语文', '数学', '英语']
df = df[new_order]
# df[(df.语文 > 80) & (df.数学 > 40)]

# df[(df['语文'] > 60) & (df['数学'] > 40)]

df['zongfen'] = df['语文'] + df['数学'] + df['英语']
df['chonfu'] = df.duplicated('英语')
df.sort_values(by='zongfen', ascending=False)

                  姓名  语文  数学  英语  zongfen  chonfu
日期
2025-01-19    wangwu  77  55  92      224   False
2025-01-26   zhaoliu  62  64  88      214   False
2025-01-05  zhangsan  42  17  40       99   False
2025-02-02   chenfei   1  18  61       80   False
2025-01-12      lisi  50   3  24       77   False