pandas 的查询数据 loc

In [51]:
import pandas as pd

df = pd.read_csv("./pd1-5/test.csv",  index_col=0)
df.head(10)

    姓名    语文    数学    英语
ID
1   关羽  96.0  72.0  73.0
2   张飞  72.0  34.0  18.0
3   赵云  52.0  85.0   NaN
4   马超   NaN  62.0  43.0
5   刘备  65.0   NaN  35.0
6   樊宁  83.0  74.0  22.0
7   黄忠  21.0  54.0  96.0
8   樊宁  83.0  74.0  22.0
9   张飞  72.0  34.0  18.0
10  刘备  65.0   NaN  35.0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      10 non-null     object
 1   语文      9 non-null      float64
 2   数学      8 non-null      float64
 3   英语      9 non-null      float64
dtypes: float64(3), object(1)
memory usage: 400.0+ bytes

In [53]:
df.describe()

              语文         数学         英语
count   9.000000   8.000000   9.000000
mean   67.666667  61.125000  40.222222
std    21.644861  19.059587  27.155928
min    21.000000  34.000000  18.000000
25%    65.000000  49.000000  22.000000
50%    72.000000  67.000000  35.000000
75%    83.000000  74.000000  43.000000
max    96.000000  85.000000  96.000000

In [54]:
df.loc[3, '语文']
df[['姓名','数学']]
df.英语
df['姓名']
df.loc[3, '姓名':'数学']
df['姓名'][2]
df.loc[2:6, '语文':'数学']
# df[df.语文 > 80] 
df['英语'] > 60
df.query('语文 > 60')
df.query('语文 > 60 and 数学 > 80')
df.query('语文 > 60 or 数学 > 80')

    姓名    语文    数学    英语
ID
1   关羽  96.0  72.0  73.0
2   张飞  72.0  34.0  18.0
3   赵云  52.0  85.0   NaN
5   刘备  65.0   NaN  35.0
6   樊宁  83.0  74.0  22.0
8   樊宁  83.0  74.0  22.0
9   张飞  72.0  34.0  18.0
10  刘备  65.0   NaN  35.0

In [55]:
df.isnull()
df.isna()
# df.dropna()
df.ffill()
df.fillna(0)

    姓名    语文    数学    英语
ID
1   关羽  96.0  72.0  73.0
2   张飞  72.0  34.0  18.0
3   赵云  52.0  85.0   0.0
4   马超   0.0  62.0  43.0
5   刘备  65.0   0.0  35.0
6   樊宁  83.0  74.0  22.0
7   黄忠  21.0  54.0  96.0
8   樊宁  83.0  74.0  22.0
9   张飞  72.0  34.0  18.0
10  刘备  65.0   0.0  35.0

In [65]:
df['重复列'] = df.duplicated(['姓名', '语文'])
df
# df.drop_duplicates('姓名')
# df.drop_duplicates('姓名', keep='last') # keep='first' to keep the first occurrence of duplicates
# df.drop_duplicates('姓名', keep=False) # keep=False to drop all duplicates

    姓名    语文    数学    英语    重复列
ID
1   关羽  96.0  72.0  73.0  False
2   张飞  72.0  34.0  18.0  False
3   赵云  52.0  85.0   NaN  False
4   马超   NaN  62.0  43.0  False
5   刘备  65.0   NaN  35.0  False
6   樊宁  83.0  74.0  22.0  False
7   黄忠  21.0  54.0  96.0  False
8   樊宁  83.0  74.0  22.0   True
9   张飞  72.0  34.0  18.0   True
10  刘备  65.0   NaN  35.0   True

In [57]:
import numpy as np

def detect_outliers_iqr(data, whis=1.5):
    """
    使用四分位距（IQR）方法检测数据中的离群点。
    
    参数:
    data (numpy.array): 输入的数据数组。
    whis (float): IQR的倍数，默认为1.5。
    
    返回:
    numpy.array: 检测到的离群点数组。
    """
    # 检查输入数据是否为numpy数组
    if not isinstance(data, np.ndarray):
        raise ValueError("输入数据必须是numpy数组。")
    
    # 计算第一四分位数（Q1）和第三四分位数（Q3）
    q1, q3 = np.quantile(data, [0.25, 0.75])
    
    # 计算四分位距（IQR）
    iqr = q3 - q1
    
    # 计算上下限
    lower_bound = q1 - whis * iqr
    upper_bound = q3 + whis * iqr
    
    # 返回离群点
    return data[(data < lower_bound) | (data > upper_bound)]

# 示例用法
data = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100])
outliers = detect_outliers_iqr(data)
print("检测到的离群点:", outliers)

检测到的离群点: [100]