pandas的练习

In [6]:
import pandas as pd
import numpy as np
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

series

In [8]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.765728 -0.539922  0.477426  1.867354
2013-01-02 -0.158613 -0.166347 -0.755838 -0.270419
2013-01-03  0.265230 -0.845032 -0.550050 -0.441915
2013-01-04 -1.409371  0.086376 -0.044698 -0.577576
2013-01-05 -0.502316 -1.111423 -0.708926 -1.633196
2013-01-06  0.550496 -1.766419  1.620142  0.825310

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df2 = pd.DataFrame(
   ...     {
   ...:        "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ..        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ..        "F": "foo",
   ...:     }
   ...: )


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [17]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2013-01-01  0.765728 -0.539922  0.477426  1.867354
2013-01-02 -0.158613 -0.166347 -0.755838 -0.270419
2013-01-03  0.265230 -0.845032 -0.550050 -0.441915
2013-01-04 -1.409371  0.086376 -0.044698 -0.577576
2013-01-05 -0.502316 -1.111423 -0.708926 -1.633196
2013-01-06  0.550496 -1.766419  1.620142  0.825310>